body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif,  sans-serif; /* Семейство шрифтов */
    font-size: 16px; /* Размер основного шрифта в <p></p>  */
    background-color: #000000; /* Цвет фона веб-страницы */
    color: #f60a0a; /* Цвет основного текста */ 
}
h1 {
    color: #ffffff; /* Цвет заголовка */
    font-size: 24px; /* Размер шрифта в пунктах */
    font-family: Georgia, serif; /* Семейство шрифтов */
